[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
django-debug-toolbar-template-timings = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-import-order = "*"
flake8-blind-except = "*"
flake8-builtins = "*"
flake8-logging-format = "*"
flake8-comprehensions = "*"

[packages]
django-bootstrap4 = "*"
django-prometheus = "*"
django-redis = "*"
huey = "*"
psycopg2-binary = "*"
requests = "*"
sklearn = "*"
tqdm = "*"
Django = "*"
EsiPy = "==0.5.0"
prometheus_client = "*"
gunicorn = "*"
raven = "*"
ipython = "*"
