.module-table td {
    vertical-align: middle
}

.module-table tr.item {
    height: 90px;
}

.navbar-fill {
    flex-grow: 1.0;
}

.ui-slider {
    height: 4px !important;
    border: 0px !important;
    background-color: #222f39 !important;
}

.slider-positive>.ui-slider-range {
    /* background-color: transparent; */
    background-image: url("/static/img/abyss_slider_positive_right.png") !important;
    background-position: 50% !important;
}

.slider-negative>.ui-slider-range {
    /* background-color: transparent; */
    background-image: url("/static/img/abyss_slider_negative_right.png") !important;
    background-position: 50% !important;
}

.ui-slider-handle {
    height: 14px !important;
    border: none !important;
    border-radius: 2px !important;
}

.range-min {
    color: #cc292f;
}

.range-max {
    color: #41cc53;
}

.contract-button-container {
    white-space: nowrap;
}

.btn-open-contract {
    width: 60px;
}

@media screen and (min-device-width: 640px) {
    .module-dropdown {
        width: 550px;
    }
}

.alert-warning {
    color: #856404;
}

html {
    overflow-y:scroll;
}
