.module-table td {
    vertical-align: middle
}

.module-table tr.item {
    height: 75px;
}

.navbar-fill {
    flex-grow: 1.0;
}

.ui-slider {
    height: 4px !important;
    border: 0px !important;
    background-color: #222f39 !important;
}

.slider-positive>.ui-slider-range {
    /* background-color: transparent; */
    background-image: url("/static/img/abyss_slider_positive_right.png") !important;
    background-position: 50% !important;
}

.slider-negative>.ui-slider-range {
    /* background-color: transparent; */
    background-image: url("/static/img/abyss_slider_negative_right.png") !important;
    background-position: 50% !important;
}

.slider-neutral>.ui-slider-range {
    background-image: url("/static/img/abyss_slider_neutral_right.png") !important;
    background-position: 50% !important;
}

.ui-slider-handle {
    height: 14px !important;
    border: none !important;
    border-radius: 2px !important;
}

.range-min {
    color: #cc292f;
}

.range-max {
    color: #41cc53;
}

.contract-button-container {
    white-space: nowrap;
}

.btn-open-contract {
    width: 60px;
}

@media screen and (min-device-width: 640px) {
    .module-dropdown {
        width: 550px;
    }
}

@media screen and (max-device-width: 640px) {
    .btn-copy-contract-link {
        display: none !important;
    }
}

.alert-warning {
    color: #856404;
}

html {
    overflow-y:scroll;
}

.module-table>tbody>tr>td {
    vertical-align: middle;
}

.jumbotron {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.btn-mini {
    height: 24px;
    padding: 0px;
}

.avatar {
    border-radius: 50%;
    margin-right: 7px;
}

.module-icon {
    margin-right: 7px;
}

.partner-logo {
    max-width: 128px;
    max-height: 128px;
}
