.module-table td {
    vertical-align: middle
}

.contract-table td {
    vertical-align: middle
}

.module-table tr.item {
    height: 75px;
}

.module-dropdown {
    padding: 0px;
}

.navbar-fill {
    flex-grow: 1.0;
}

.module-accordion-header {
    padding: 0px;
}

.module-accordion-button {
    padding: 4px 8px 4px 8px;
}

.list-group-item {
    padding: 8px;
}

.parner-logo {
    border-radius: 0px !important;
}

.ui-slider {
    height: 4px !important;
    border: 0px !important;
    background-color: #222f39 !important;
}

.slider-positive>.ui-slider-range {
    /* background-color: transparent; */
    background-image: url("/static/img/abyss_slider_positive_right.png") !important;
    background-position: 50% !important;
}

.slider-negative>.ui-slider-range {
    /* background-color: transparent; */
    background-image: url("/static/img/abyss_slider_negative_right.png") !important;
    background-position: 50% !important;
}

.slider-neutral>.ui-slider-range {
    background-image: url("/static/img/abyss_slider_neutral_right.png") !important;
    background-position: 50% !important;
}

.ui-slider-handle {
    height: 14px !important;
    border-radius: 2px !important;
}

.contract-button-container {
    white-space: nowrap;
}

.btn-open-contract {
    width: 60px;
}

@media screen and (max-device-width: 640px) {
    .btn-copy-contract-link {
        display: none !important;
    }
}

.alert-warning {
    color: #856404;
}

html {
    overflow-y:scroll;
}

.module-table>tbody>tr>td {
    vertical-align: middle;
}

.jumbotron {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.btn-mini {
    height: 24px;
    padding: 0px;
}

.avatar {
    border-radius: 50%;
    margin-right: 7px;
}

.module-icon {
    margin-right: 7px;
}

.partner-logo {
    max-width: 128px;
    max-height: 128px;
}

.stats-table>tbody>tr>td,.stats-table>tbody>tr>th {
    vertical-align: middle;
}

.jumbotron-tabs {
    margin-top: 0px !important;
}

.nav-tabs {
    border: 0px;
}

.nav-link {
    border-bottom-color: rgb(134, 32, 32) !important;
    border-left-color: rgb(134, 32, 32) !important;
    border-right-color: rgb(134, 32, 32) !important;
    border-top-color: transparent !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    margin-right: 0.25rem;
}

.nav-link.active {
    background-color: rgb(134, 32, 32) !important;
    color: white  !important;
}

.nav-link.disabled {
    background-color: rgb(240, 240, 240) !important;
}

.btn-std-size {
    width: 60px;
}

#module-table {
    width: 100% !important;
}

.price-field:after {
    content: " ISK "
}

.plex-field:after {
    content: " PLEX "
}

.annotation-multi-item:after {
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;

    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 8pt;
    background-color: #BBBBBB;

    margin-left: 2px;
    content: "M"
}

.annotation-auction:after {
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;

    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 8pt;
    background-color: #BBBBBB;

    margin-left: 2px;
    content: "A"
}

input.module-attribute-filter::after {
    content: "m"
}

input.module-attribute-filter.positive {
    color: #5cb85c !important;
}

input.module-attribute-filter.negative {
    color: #d9534f !important;
}

.module-stat-unit {
    width: 20px;
}

#module-table>tbody>tr {
    height: 64px;
}

.module-rating {
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;

    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 8pt;

    margin-left: 2px;
}

.attr-cell {
    vertical-align: middle;
}

.module-rating.text-danger {
    background-color: #dc3545;
    color: white !important;
}

.module-rating.text-success {
    background-color: #28a745;
    color: white !important;
}

.module-rating.text-warning {
    background-color: #ffc107;
    color: white !important;
}

.slider-container {
    height: 5px;
}

.footer {
  background-color: #542225;
}

.footer>.container {
    margin-bottom: 0px;
}

.price-field {
    vertical-align: middle;
}

.container>a {
    color: #862a2a;
}

body.dark-mode {
    background-color: #302b2b;
    color: #f7f7f7;
}

body.dark-mode .table {
    color: #f7f7f7;
}

body.light-mode {
    background-color: #ffffff;
    color: rgb(33, 37, 41);
}

body.dark-mode .module-rating.text-success {
    background-color: #145423;
}

body.dark-mode .module-rating.text-danger {
    background-color: #6e1a22;
}

body.dark-mode .module-rating.text-warning {
    background-color: #806003;
}

body.dark-mode .bg-primary {
    background-color: #661818 !important;
}

body.dark-mode input, body.dark-mode select {
    background-color: #444444;
    border: 0px;
    color: #eeeeee;
}

body.dark-mode .paginate_button>.page-link {
    background-color: #555555 !important;
    color: #eeeeee;
    border:0px;
}

body.dark-mode .paginate_button.active>.page-link {
    background-color: rgb(84, 34, 37) !important;
}

body.dark-mode .paginate_button.disabled>.page-link {
    background-color: #444444 !important;
    color: #aaaaaa;
}

body.dark-mode .input-group-text {
    background-color: #444444;
    color: #eeeeee;
    border: 0px;
}

body.dark-mode .nav-tab.nav-link {
    background-color: #511919 !important;
    border-color: #511919 !important;
    color: #eeeeee;
}

body.dark-mode .nav-tab.nav-link.active {
    background-color: #661818 !important;
    border-color: #661818 !important;
}

body.dark-mode .nav-tab.nav-link.disabled {
    background-color: #444444 !important;
    border-color: #444444 !important;
}

body.dark-mode table th, body.dark-mode table td {
    border-color: #444444;
}
