{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Abyssal Market</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" />

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://bootswatch.com/4/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="{% static 'css/abyssal.css' %}" rel="stylesheet">
    <style>
      html {
        overflow-y:scroll;
      }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container">
        <a class="navbar-brand" href="/">Abyssal Market</a>
        <ul class="navbar-nav navbar-fill">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
              Modules
            </a>
            <div class="dropdown-menu module-dropdown" aria-labelledby="navbarDropdown">
              <div class="dropdown-item">
                <div class="row">
                  <div class="col-4"><img height="21px" src="https://image.eveonline.com/Type/47408_32.png"> Microwarpdrive</div>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47740 %}">5MN</a>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47408 %}">50MN</a>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47745 %}">500MN</a>
                </div>
              </div>
              <div class="dropdown-item">
                <div class="row">
                  <div class="col-4"><img height="21px" src="https://image.eveonline.com/Type/47749_32.png"> Afterburner</div>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47749 %}">1MN</a>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47753 %}">10MN</a>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47757 %}">100MN</a>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item">
                <div class="row">
                  <div class="col-4">
                    <img height="21px" src="https://image.eveonline.com/Type/47800_32.png"> Shield Extender</div>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47800 %}">Small</a>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47804 %}">Medium</a>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47808 %}">Large</a>
                </div>
              </div>
              <div class="dropdown-item">
                <div class="row">
                  <div class="col-4">
                    <img height="21px" src="https://image.eveonline.com/Type/47812_32.png"> Armor Plates</div>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47812 %}">Small</a>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47817 %}">Medium</a>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47820 %}">Large</a>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item">
                <div class="row">
                  <div class="col-4">
                    <img height="21px" src="https://image.eveonline.com/Type/47781_32.png"> Shield Booster</div>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47781 %}">Small</a>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47785 %}">Medium</a>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47789 %}">Large</a>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47793 %}">X-Large</a>
                </div>
              </div>
              <div class="dropdown-item">
                <div class="row">
                  <div class="col-4">
                    <img height="21px" src="https://image.eveonline.com/Type/47769_32.png"> Armor Repairer</div>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47769 %}">Small</a>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47773 %}">Medium</a>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47777 %}">Large</a>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item">
                <div class="row">
                  <div class="col-4">
                    <img height="21px" src="https://image.eveonline.com/Type/47836_32.png"> Ancil. Shield Booster</div>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47836 %}">Medium</a>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47838 %}">Large</a>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47840 %}">X-Large</a>
                </div>
              </div>
              <div class="dropdown-item">
                <div class="row">
                  <div class="col-4">
                    <img height="21px" src="https://image.eveonline.com/Type/47842_32.png"> Ancil. Armor Repairer</div>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47842 %}">Small</a>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47844 %}">Medium</a>
                  <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47846 %}">Large</a>
                </div>
              </div>
              <div class="dropdown-divider"></div>
                <div class="dropdown-item">
                  <div class="row">
                    <div class="col-4">
                      <img height="21px" src="https://image.eveonline.com/Type/47824_32.png"> Energy Neutralizer</div>
                    <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47824 %}">Small</a>
                    <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47828 %}">Medium</a>
                    <a class="col-2" href="{% url 'abyssal_modules:type_module_list' 47832 %}">Heavy</a>
                  </div>
                </div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item">
                <div class="row">
                  <a class="col-12" href="{% url 'abyssal_modules:type_module_list' 47702 %}">
                    <img height="21px" src="https://image.eveonline.com/Type/47702_32.png"> Stasis Webifier</a>
                </div>
              </div>
              <div class="dropdown-item">
                <div class="row">
                  <a class="col-12" href="{% url 'abyssal_modules:type_module_list' 47732 %}">
                    <img height="21px" src="https://image.eveonline.com/Type/47732_32.png"> Warp Scrambler</a>
                </div>
              </div>
              <div class="dropdown-item">
                <div class="row">
                  <a class="col-12" href="{% url 'abyssal_modules:type_module_list' 47736 %}">
                    <img height="21px" src="https://image.eveonline.com/Type/47736_32.png"> Warp Disruptor</a>
                </div>
              </div>

            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li class="nav-item my-auto">
              <span class="nav-link p-0">
                <img src="https://image.eveonline.com/Character/{{ user.character_id}}_32.jpg" />
                <span class="py-auto">{{ user.name }}</span>
              </span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'eve_auth:logout' %}">
                Log out
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'eve_auth:login' %}">Log in</a>
            </li>
          {% endif %}
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>

    <main role="main" class="container">
      {% block content %} {% endblock %}
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  </body>
</html>
