{% load static %}
{% load abyssal_types %}
<!doctype html>
<html lang="en">
  <head>
    {% if GA_TRACKING_ID %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_TRACKING_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ GA_TRACKING_ID }}', { 'anonymize_ip': true });
    </script>
    {% endif %}


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Find and buy abyssal modules all over New Eden with the premier abyssal module market of EVE Online.">

    <title>{% block title %}{% endblock %} - Abyssal Market</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/superhero.css' %}" />
    <link rel="stylesheet" href="{% static 'css/abyssal.css' %}" />
  </head>

  <body>
    <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="/">Abyssal Market</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggled">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-toggled">
        <ul class="navbar-nav navbar-fill">
          <li class="nav-item dropdown dropdown-accordion" data-accordion="#module-accordion">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
              Modules
            </a>
            <div class="dropdown-menu module-dropdown ">
              <div class="accordion" id="accordionExample">
                {% get_abyssal_type_list as type_list %}
                {% for r, l in type_list %}
                <div class="card">
                  <div class="card-header module-accordion-header" id="module-group-heading-{{ l.0.1 }}">
                    <h5 class="mb-0">
                      <a class="btn btn-link module-accordion-button" type="button" data-toggle="collapse" href="#module-group-collapse-{{ l.0.1 }}">
                        <img height="21px" src="https://image.eveonline.com/Type/{{ l.0.1 }}_32.png"> {{ r }}
                      </a>
                    </h5>
                  </div>

                  <div id="module-group-collapse-{{ l.0.1 }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="list-group">
                        {% for n, i in l %}
                          <a href="{% url 'abyssal_modules:type_module_list' i %}" class="list-group-item list-group-item-action">{{ n }}</a>
                        {% endfor %}
                      </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'abyssal_modules:appraisal' %}">Appraisal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'abyssal_modules:statistics' %}">Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
          </li>
        </ul>
        {% comment %} <ul class="navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li class="nav-item my-auto">
              <span class="nav-link p-0">
                <img src="https://image.eveonline.com/Character/{{ user.character_id}}_32.jpg" class="avatar" />{{ user.name }}
              </span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'eve_auth:logout' %}">
                Log out
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'eve_auth:login' %}">Log in</a>
            </li>
          {% endif %}
        </ul> {% endcomment %}
      </div>
    </nav>

    <div class="container">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}

      <div class="alert alert-danger" role="alert">
        Logging in and using ESI to display modules is currently disabled due
        to past terrible database design decisions. We hope to restore login
        functionality soon!
      </div>
    </div>

    <main class="container">

      {% comment %} <div class="alert alert-success" role="alert">Success! CCP is lifting the
      sanity limit on the public contract ESI endpoint very soon, which means
      you will finally be able to see all abyssal contracts on this site. For
      more information see <a
      href="https://github.com/esi/esi-issues/issues/1014#issuecomment-416639135">this
      Github issue</a>.</div> {% endcomment %}

      {% block content %} {% endblock %}
    </main>

    <footer>
      <div class="container">

        <p>Made with &#x1F914;&#x1F52A; by <a
        href="https://evewho.com/pilot/Sharad+Heft">Sharad Heft</a> &bull; <a href="{% url 'faq' %}">FAQ</a> &bull; <a href="{% url 'legal' %}">Legal</a> &bull; <a href="https://github.com/StephenSwat/eve-abyssal-market">GitHub</a></p>

      </div>
    </footer>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <script src="{% static 'js/mutaplasmid.js' %}"></script>

    <script>
      $('.dropdown-accordion').on('show.bs.dropdown', function (event) {
        console.log("Yyoyoy")
        var accordion = $(this).find($(this).data('accordion'));
        accordion.find('.collapse').collapse('hide');
      });

      $('.dropdown-accordion').on('click', 'a[data-toggle="collapse"]', function (event) {
        console.log("1")
        event.preventDefault();
        event.stopPropagation();
        console.log("2")
        $($(this).data('parent')).find('.panel-collapse.in').collapse('hide');
        $($(this).attr('href')).collapse('show');
      })

    </script>

    {% block trailing_js %} {% endblock %}
  </body>
</html>
