{% extends 'base.html' %}

{% block content_container %}
{% block header %}{% endblock header %}

{% block content_tabs %}{% endblock content_tabs %}

<div class="container">
    <div class="alert alert-success mt-4">Today marks the one year anniversary of the public release of mutaplasmid.space! Thank you all for your continued support. &#x1F389;</div>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
</div>

{% block content %}{% endblock content %}
{% endblock content_container %}
