{% extends 'base.html' %}

{% block title %}Frequently Asked Questions{% endblock %}

{% block content %}

<div class="container-fluid d-flex flex-column ng-scope">
    <div class="row align-items-center bg-primary check-contrast py-5">
        <div class="col-xl-9 container-alt text-light toggles-ignore mx-auto">
            <h1 class="display-3 mb-0">
                <span data-ng-bind="selected.palette.name" class="ng-binding">Frequently Asked Questions</span>
            </h1>
            <p class="lead mb-3"><span data-ng-bind="selected.palette.desc" class="ng-binding">
            Please note that not all questions on this page are actually
            <em>frequently asked</em>. Many of these questions may have been asked only
            once. Others have never been asked at all and are just predictions, made by
            me, of what people could ask me in the future.</p>
        </div>
    </div>
</div>

<div class="container container-narrow my-5">

    <h5>What does this website do?</h5>

    <p>This website scans available public contracts in EVE Online in search of
    abyssal modules. Any abyssal modules found are presented in a (hopefully)
    easily filterable way to make it easy for you to get the modules you
    want.</p>

    <h5>How do I get contracts to show up?</h5>

    <p>The website scans all regions in the game for any public item exchange
    or auction contract with abyssal modules in them.</p>

    <h5>What do the 'M' and 'A' mean next to a module's price?</h5>

    <p>An <strong>M</strong> means the abyssal module is not the only item in
    the contract (there are <em>m</em>ultiple items) and an <strong>A</strong>
    means the contract is an <em>a</em>uction.</p>

    <h5>What do the coloured numbers after a module's stats mean?</h5>

    <p>This is a rating for that stat based on the distribution of that stat
    in the same module group. There is no set minimum or maximum rating for
    a stat, but higher is better. The value shown is the number of quarter
    standard deviations that the value lies from the mean for that module.</p>

    <h5>How do price predictions work?</h5>

    <p>On the module pages for some module types the website will try to give
    you a price estimate for the module you're looking at based on its stats.
    These estimates are calculated by training a support vector regressor every
    day on all past contract data. Estimates are definitely not always
    accurate so you should use your own judgement.</p>

    <h5>How do I view contracts in game?</h5>

    <p>Once you've find a module you like there are two ways to open the
    contract in the EVE client. Firstly, you can click the "log in" button in
    the top right and then the "ESI" button on any abyssal module to
    immediately open it in-game. If you don't want to sign in via EVE SSO you
    can click the "Link" button which will copy some data to your clipboard.
    You can paste this data into your in-game notepad and then click the newly
    created link to view the contract.</p>

    <h5>How can I get in contact with you?</h5>

    <p>Send me an EVE mail. My main character is <a
    href="https://evewho.com/pilot/Sharad+Heft">Sharad Heft</a>. You can also
    send me money if you want, but please don't feel forced.</p>

    <h5>What technologies did you use to build this?</h5>

    <p>The website runs on Django, a popular web development framework for
    Python. In addition, PostgreSQL is used as the database and Huey is a task
    queue that performs all kinds of different tasks. The server used is some
    €10 per month VPS that I rent in the hope that it has enough horsepower to
    run all the terrible code I put on it.</p>

    <h5>Can I see the source code for this website?</h5>

    <p>Of course! It's available <a
    href="https://github.com/StephenSwat/eve-abyssal-market">on GitHub</a>. You
    are also invited to create feature requests and bug reports there.</p>

    <h5>What can you do to me if I log in?</h5>

    <p>I can open contract windows and I can open the information window for
    Exotic Dancers (Male) in your client at random times. The former is
    hopefully helpful and I promise not to do the latter. </p>

    <h5>I have a different question and it isn't listed here and I'm angry!</h5>

    <p>Contact me and I might respond to you and/or add your question to this
    page!</p>

</div>

{% endblock %}
