{% extends 'content_page.html' %}

{% block title %}Support Us{% endblock %}

{% block header %}
<div class="container-fluid d-flex flex-column ng-scope">
    <div class="row align-items-center bg-primary check-contrast py-5">
        <div class="col-xl-9 container-alt text-light toggles-ignore mx-auto">
            <h1 class="display-3 mb-0">
                <span data-ng-bind="selected.palette.name" class="ng-binding">Support mutaplasmid.space</span>
            </h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container container-narrow my-5">
    <p>mutaplasmid.space has always been and always will be a free website.
    This website exists not as a way for me to make money but rather as a
    service to the community of a game that will forever hold a dear place in
    my heart. That being said, hosting the website takes a considerable amount
    of computing resources which cost money. As the site has grown and has
    gained more users, the costs of running the website have also increased. In
    addition, recent economic developents have driven up the price of
    hosting.</p>

    <p>If you would like to support the development and hosting of the website,
    I am taking donations through a service called Ko-fi. This allows you to
    make one-time donations or recurring payments. Supporting me through Ko-fi
    will allow me to spend more time maintaining and developing new features
    for the website, and it will help keep the site in the air. Please note
    that none of the features on mutaplasmid.space will <b>ever</b> be
    available only to paying users.</p>

    <p>If you are interested in donating any amount to the website, please
    click the button below. Thank you so much for your support.</p>

    <a href='https://ko-fi.com/J3J0HVJ88' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi2.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
</div>

{% endblock %}
